
*.xccheckout

*.xcuserstate

Cookout.xcodeproj/project.xcworkspace/xcuserdata/cra.xcuserdatad/UserInterfaceState.xcuserstate

Cookout.xcodeproj/xcuserdata/cra.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
